PORT=3000
SESSION_SECRET=changez_ce_secret_en_production

DB_HOST=127.0.0.1
DB_NAME=noreaz
DB_USER=root
DB_PASS=

ADMIN_PASSWORD=noreaz2026admin

APP_URL=http://localhost:3000
QUIZ_TIMER=10
QUIZ_QUESTIONS=5
